APP_PORT=8080

JWT_SECRET=super-secret-key
JWT_EXPIRE_HOURS=24

CORS_ALLOWED_ORIGINS=http://localhost:8000,http://localhost:3000
CORS_ALLOWED_METHODS=GET,POST,PUT,DELETE,OPTIONS
CORS_ALLOWED_HEADERS=Content-Type,Authorization

POSTGRES_USER=smail_user
POSTGRES_PASSWORD=12345678
POSTGRES_DBNAME=smail_db

#
# MinIO configuration
#

# a.k.a. MINIO_ROOT_USER, should be at least 3 character length
MINIO_ACCESS_KEY=minio_user

# a.k.a. MINIO_ROOT_PASSWORD, should be at least 3 character length
MINIO_SECRET_KEY=minio_password
